* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#sobrenosotrosbody {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.25fr 1fr 0.25fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }
  #sobrenosotrosbody #sobrenosotrosheader {
    background-color: #000000;
    grid-area: header; }
    #sobrenosotrosbody #sobrenosotrosheader #h2sobrenosotros {
      display: flex;
      justify-content: center;
      color: white; }
    #sobrenosotrosbody #sobrenosotrosheader #p1 {
      display: flex;
      justify-content: center;
      color: white; }
    #sobrenosotrosbody #sobrenosotrosheader #p2 {
      display: flex;
      text-align: center;
      color: white; }
  #sobrenosotrosbody #sobrenosotrosmain {
    background-color: aqua;
    height: auto;
    grid-area: main;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-areas: "sect1 sect2 sect3"; }
    #sobrenosotrosbody #sobrenosotrosmain #sobrenosotrossect1 {
      background-color: black;
      grid-area: sect1; }
      #sobrenosotrosbody #sobrenosotrosmain #sobrenosotrossect1 #p3 {
        display: flex;
        text-align: center;
        color: white; }
    #sobrenosotrosbody #sobrenosotrosmain #sobrenosotrossect2 {
      background-color: black;
      grid-area: sect2; }
      #sobrenosotrosbody #sobrenosotrosmain #sobrenosotrossect2 #nosotrosimg {
        height: 57vh;
        display: flex;
        text-align: center; }
    #sobrenosotrosbody #sobrenosotrosmain #sobrenosotrossect3 {
      background-color: black;
      grid-area: sect3; }
      #sobrenosotrosbody #sobrenosotrosmain #sobrenosotrossect3 #p4 {
        display: flex;
        text-align: center;
        color: white; }
  #sobrenosotrosbody #sobrenosotrosfooter {
    background-color: #000000;
    grid-area: footer; }
    #sobrenosotrosbody #sobrenosotrosfooter #p5 {
      display: flex;
      text-align: center;
      color: white; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body header #cabecera {
  height: 3.3vh; }

body header #logo {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  body header #logo #imglogo {
    height: 15vh; }
  body header #logo .navbar.custom-navbar {
    height: 40px; }

body #divisor {
  height: 20vh; }

body main {
  background-color: white;
  height: auto; }
  body main #portada {
    height: 100%;
    width: 100%; }

body #mainNew {
  height: auto; }

body #mainCalzado {
  height: auto; }

body #mainDeSuperior {
  height: auto; }

body #mainInferiores {
  height: auto; }

body #mainAccesorios {
  height: auto; }

body #destacados {
  height: auto;
  background-color: white; }

body #hot {
  height: 120vh;
  background-color: #ffffff; }

body #logocontactos {
  height: 10vh;
  background-color: black; }

body #red1 {
  height: 21vh; }
