* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#nosotrosimg {
  height: 50vh;
  display: flex;
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body header #cabecera {
  height: 3.7vh; }

body header #logo {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  body header #logo #imglogo {
    height: 15vh; }
  body header #logo .navbar.custom-navbar {
    height: 40px; }

body #divisor {
  height: 18vh; }

body main {
  background-color: white;
  height: auto; }
  body main #portada {
    height: 100%;
    width: 100%; }

body #mainNew {
  height: auto; }

body #mainCalzado {
  height: auto; }

body #mainDeSuperior {
  height: auto; }

body #mainInferiores {
  height: auto; }

body #mainAccesorios {
  height: auto; }

body #destacados {
  height: auto;
  background-color: white; }

body #hot {
  height: auto;
  background-color: #ffffff; }

body #logocontactos {
  height: 10vh;
  background-color: black; }

body #red1 {
  height: 21vh; }
