*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    header{
        #cabecera{
    height: 3.7vh;
    }
    #logo{
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    #imglogo{
        height: 15vh;
    }
    .navbar.custom-navbar {
      height: 40px;
    }
    }
 }

    #divisor{
    height: 18vh;
 }


    main{
    background-color: rgb(255, 255, 255);
    height: auto;
    #portada{
        height: 100%;
        width: 100%;
    }
 }

 #mainNew{
   height: auto;
 }

 #mainCalzado{
    height: auto;
 }

 #mainDeSuperior{
    height: auto;
 }

 #mainInferiores{
    height: auto;
 }

 #mainAccesorios{
    height: auto;
 }
 
 #destacados{
    height: auto;
    background-color: rgb(255, 255, 255);
 }

 #hot{
    height: auto;
    background-color: #ffffff;
 }

 #logocontactos{
    height: 10vh;
    background-color: black;
 }

 #red1{
    height: 21vh;
 }

}
